html, body{
  height: 100%;
}

.text-font-size{
  font-size: 10px;
}

.width-100{
  width: 100% !important;
}

.desktop-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem;
  width: fit-content;
}

.windows-icon-container{
  width: max-content;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.windows-icon{
  width: 35px;
  -webkit-user-drag: none;
}

.App-Bar{
  bottom: 0;
  top: auto !important;
}

.ToolBar{
  justify-content: 'space-between'
}

.list-dropdown-container{
  position: absolute !important;
  left: 0;
  bottom: 100%;
}

.list-dropdown-item{
  padding: 0px 40px 0px 40px !important;
  cursor: pointer !important;
}

.window{
  width: 30%;
}

.window-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-text-field{
  margin-bottom: 2vh;
}

.chatroom-button-group{
  display: flex;
  justify-content: space-between;
  align-items: center
}

.rooms-list{
  width: 100% !important;
}

.createForm{
  display: flex;
  justify-content: space-between;
  align-items: center;
}